@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #2f3542;
}

/*Basic Modal styling*/
.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    align-items: center;
    background-color: rgba(87, 96, 111,1.0);
    padding: 14px 18px;
    border-radius: 6px;
    gap: 16px;
    z-index: 10;
    transition: 200ms ease-in-out;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1.2);
}

.overlay {
    position: fixed;
    background-color: black;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    pointer-events: none;
    opacity: 0;
    transition: 200ms ease-in-out;
}

.overlay.active {
    opacity: .5;
    pointer-events: all;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: "Roberto", sans-serif;
}

.modal form input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 20px;
}

.modal form div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #eee;
    font-size: 22px;
}

.rem,
.info button,
.header button,
.modal button {
    color: #eee;
    border-style: none;
    align-self: flex-start;
    background-color: rgba(46, 213, 115,0.4);
    font-size: 22px;
    padding: 10px 16px;
    border-radius: 6px;
    cursor:pointer;
    transition: 100ms ease-in;
}

#read {
    width: 100%;
    transition: 100ms ease-in-out;
}

#read.active {
    background-color: rgba(255, 71, 87,0.8);
}

.modal button .fbtn {
    background-color: rosybrown;
}


.btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#cancel {
    background-color: rgba(255, 71, 87,0.8);
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    color: #eee;
    font-family: "Roberto", sans-serif;
    font-size: 32px;
    text-align: center;
    border-bottom: 1px solid rgba(206, 214, 224,1.0);
}

#openModal {
    font-family: "Roberto", sans-serif;
    font-size: 36px;
    transition: 100ms ease-in;
}

button:active {
    transform: scale(0.9);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}


.cards {
    padding: 12px 24px;
    display: flex;
    gap: 16px;
    height: 300px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 300px;
    border-radius: 6px;
    background-color: rgba(116, 125, 140,1.0);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.info h2,
.info h3 {
    color: #eee;
    font-family: "Roberto", sans-serif;
}

.info button {
    align-self: center;
}

.rem {
    background-color: rgba(255, 71, 87,0.8);
}

.remove {
    padding-bottom: 12px;
}

.info button.active {
    background-color: rgba(255, 71, 87,0.4);
}
